<div>
  <nb-card>
    <nb-card-header>User Profile</nb-card-header>
    <nb-card-body class="example-items-rows">
      <div class="row">
        <label for="firstName">First Name:</label>
        <input id="firstName" type="text" nbInput fullWidth status="basic" value="{{this.user.firstName}}"  disabled>
      </div>
      <div class="row">
        <label for="lastName">Last Name:</label>
        <input id="lastName" type="text" nbInput fullWidth status="basic" value="{{this.user.lastName}}" disabled>
      </div>
      <div class="row">
        <label for="phone">Phone:</label>
        <input id="phone" type="text" nbInput fullWidth status="basic" value="{{this.user.phone}}" disabled>
      </div>
      <div class="row">
        <label for="email">Email:</label>
        <input id="email" type="text" nbInput fullWidth status="basic" value="{{this.user.email}}" disabled>
      </div>
      <div class="row">
        <label for="bio">Bio:</label>
        <textarea  id="email" type="text" nbInput fullWidth status="basic" value="{{this.user.bio}}" disabled></textarea>
      </div>
      <div class="row">
        <label for="avatar">Avatar:</label>
      </div>
      <div class="row">
        <img src="{{this.user.avatarImage}}" style="height: 500px;width: 500px">
      </div>

    </nb-card-body>
  </nb-card>
</div>
