<div >
  <nb-card>
    <nb-card-header>Earthquakes</nb-card-header>
    <nb-card-body class="example-items-rows">
      <ng2-smart-table [settings]="settings" [source]="source" (custom)="viewClicked($event)"></ng2-smart-table>
    </nb-card-body>
  </nb-card>
  <nb-card *ngIf="this.selectedEarthQuake">
    <nb-card-header>{{this.selectedEarthQuake.properties.place}}</nb-card-header>
    <nb-card-body class="example-items-rows">
      <div class="row">
        <label for="type">Type:</label>
        <input id="type" type="text" nbInput fullWidth status="basic" value="{{this.selectedEarthQuake.properties.type}}"  disabled>
      </div>
      <div class="row">
        <label for="id">ID:</label>
        <input id="id" type="text" nbInput fullWidth status="basic" value="{{this.selectedEarthQuake.properties.id}}"  disabled>
      </div>
      <div class="row">
        <label for="types">Types:</label>
        <input id="types" type="text" nbInput fullWidth status="basic" value="{{this.selectedEarthQuake.properties.types}}"  disabled>
      </div>
      <div class="row">
        <label for="mag">Mag:</label>
        <input id="mag" type="text" nbInput fullWidth status="basic" value="{{this.selectedEarthQuake.properties.mag}}"  disabled>
      </div>
    </nb-card-body>
  </nb-card>
  <nb-card *ngIf="this.selectedEarthQuake">
    <nb-card-header>Location of Earthquake</nb-card-header>
    <nb-card-body>
      <div class="col-sm-12 col-md-6 col-lg-8">
      				<div leaflet style="height: 300px;"
      					 [leafletOptions]="options"
                 [leafletLayers]="earthquakePointMarker">

      				</div>
      			</div>
    </nb-card-body>
  </nb-card>


</div>
